
html,body {
  text-align: center;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
  padding-bottom: 3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

/* Sections */
.colored-section {
  background-color: #92BA92;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Title Section */
#title{
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}


/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone-div{
  position: relative;
}
.iphone {
  transform: rotate(25deg);
  width: 135%;
  position: absolute;
  right: 1%;
}

@media (max-width: 1028px) {
  .iphone{
    position: relative;
    transform: none;
    margin: auto;
    width: 175%;
    right: 38%;
  }

  .container-fluid {
    text-align: center;
  }
}

/* Features */
#features{
  padding: 5% 15%;
  background-color: #fff;
  position: relative;
}

.feature {
  font-size: 1.5rem;
}

.f-box{
  padding: 5%;
}

.f-icon {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #92BA92;
}

.f-icon:hover {
  color: #4E944F;
  font-size: 4.3rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #525E75;
  color: #fff;
  position: relative;
}

.test-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.test-image {
  width: 25%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #525E75;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-title {
  font-size: 1.5rem;
}

.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.price-amount {
  font-size: 3rem;
  line-height: 1.5;
}

.price-card {
  padding: 3% 2%;
}

/* Call To Action Section */
#cta {
  padding: 7%;
}

.cta-header {
  font-size: 3.5rem;
  width: 65%;
  margin: auto;
  padding-bottom: 3.8rem;
}

.cta-btn {
  padding: 8px 1%;
  margin: 0 1%;
}

.cta-logo {
  padding-right: 10px;
}

/* Footer Section */
#footer{
  background-color: #fff;
  text-align: center;
  padding-top: 100px;
}

.footer-social {
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.copyright {
  padding-top: 20px;
}
